@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
    display: none;
} */
input {
  outline:none;
}
.unselectable {
/* no text selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

/* .selectable {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
} */